
<div *ngIf="control" class="decnavi">
  <ul>
    <li><img src="../assets/imagesforcss/pngwing.png" class="imgnavidad-izq"></li>
    <li><img src="../assets/imagesforcss/adornoderecho.png" class="imgnavidad-der"></li>
  </ul>
</div>

<header>
  
  <div class="logo">
    <ul>
       <p>Jaras</p>
       <img class="logo-negro" src="../assets/imagesforcss/logotransparente.png" [routerLink]="['/inicio']">
       <img class="logo-blanco" src="../assets/imagesforcss/logo-white.png" [routerLink]="['/inicio']">
       <img class="logo-rosa" src="../assets/imagesforcss/logo-pink.png" [routerLink]="['/inicio']">
       <p>Boutique</p>
      </ul>
  </div>
  
  <div class="nav">
    <ul>
      <li><a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">Inicio</a></li>
      <li><a [routerLink]="['/productos']"[routerLinkActive]="['actived']">Productos</a></li>
      <li><a href="#"[routerLinkActive]="['actived']">Contacto</a></li>
    </ul>    
  </div> 
</header>      

<section id="section-p">
  <div id="login-social" class="login-social-stickly">

    <div id="login">
      <ul>
        <li><a href="#">Iniciar sesión</a></li>
        <li><a [routerLink]="['/registro']">Registrarse</a></li>
        <li class="addarticle-css"><a [routerLink]="['/agregar-articulo']" >Añadir articulo</a></li>
      </ul>
    </div>

    <button class="menu-res"><i class="fa-solid fa-bars"></i></button>

    <div class="s-c-s">
      <div id="search">
        <ul>
          <li><input type="search" [(ngModel)]="item_search" (keyup.enter)="getSearchArticles()" [routerLink]="['/search']"></li> 
          <li><button class="buscar" [routerLink]="['/search']" (click)="getSearchArticles()">Buscar</button></li>
          <li><button class="log-lupa"><i class="fa-solid fa-magnifying-glass"></i></button></li>
        </ul>
      </div>
      

      <div id="carrito">
        <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
      </div>
      <div id="social">
        <ul>
          <li><p>Seguinos</p></li>
          <li><a href="https://www.instagram.com/jaras.boutique/"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <div id="menu-oculto">
    <ul>
      <li><a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">Inicio</a></li>
      <li><a [routerLink]="['/productos']"[routerLinkActive]="['actived']">Productos</a></li>
      <li><a href="#"[routerLinkActive]="['actived']">Contacto</a></li>
      <li><a href="#">Iniciar sesión</a></li>
      <li><a [routerLink]="['/registro']">Registrarse</a></li>
      <li class="addarticle-css"><a [routerLink]="['/agregar-articulo']" >Añadir articulo</a></li>
    </ul>
  </div>

  <div id="select-theme">
    <ul>
      <li><button class="theme-pink"><i class="fa-regular fa-eye"></i></button></li>
      <li><button class="theme-blue"><i class="fa-regular fa-eye"></i></button></li>
      <li><button class="theme-green"><i class="fa-regular fa-eye"></i></button></li>
      <li><button class="theme-darkpink"><i class="fa-regular fa-eye"></i></button></li>
    </ul>
  </div>
</section>

<footer>
  <ul>
    <li class="publicidad">
      <div class="sliderfooter">
        <div><img src="../assets/imagesforcss/bolsaazul.jpg" alt=""></div>
        <div><img src="../assets/imagesforcss/bolsaverde.jpg" alt=""></div>
      </div>
    </li>
    <li class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13479.112687282077!2d-58.86852180665283!3d-32.37149583099442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b1b1d7db48f179%3A0x7f9208ee3108e35f!2sJaras!5e0!3m2!1ses!2sar!4v1686742481047!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </li>
  </ul>
  <div class="autor">
    <a href="https://www.linkedin.com/in/alan-felix-9b3387248/"><h3>DESARROLLADO POR ALAN EMMANUEL FELIX &copy;</h3></a>
  </div>
</footer>


      
      
      