<div class="container-category">
    <div class="filter">
        <ul>
            <select id="filtro" name="cate" (change)="getFiltro($event)">
                <option value="all">Todos</option>
                <option value="baño">Baño</option>
                <option value="superior">Prenda superiro</option>
            </select>
        </ul>
    </div>

    <ul id="ul-productos" >
        <li *ngFor="let a of filtrado" class="li-articulos">
            <h2>{{a.description}}</h2>
            <a class="image" [routerLink]="['/detalle/',a._id]">
                <img src="{{url+'/get-image/'+a.image}}" *ngIf="a.image" >
            </a>
            <h3>${{a.price}}</h3>
        </li>
    </ul>

</div>
