<div class="offsale">
    <div class="ofertas">
      <p>reservado para ofertas</p>
    </div>
  </div>
<div class="slider">
    <div class="div-hidden"><img src="../../../assets/imagesforcss/slider1.jpg" alt="No image"></div>
    <div class="div-hidden"><img src="../../../assets/imagesforcss/slider2.jpg" alt="No image"></div>
    <div class="div-hidden"><img src="../../../assets/imagesforcss/slider3.jpg" alt="No image"></div>
    <div class="div-hidden"><img src="../../../assets/imagesforcss/cintos-slider.jpg" alt="No image"></div>
    <div class="div-hidden"><img src="../../../assets/imagesforcss/pr-sup-slider.jpg" alt="No image"></div>
    <div class="div-hidden"><img src="../../../assets/imagesforcss/pr-sup-slider1.jpg" alt="No image"></div>
    <div class="div-hidden"><img src="../../../assets/imagesforcss/vidirera1-slider.jpg" alt="No image"></div>
</div>

<section id="section-home">
    <div class="slogan">
        <h1>Lo que des y mas...</h1>
    </div>
    <article class="article-home">
        <ul>
            <li><img src="../../../assets/imagesforcss/81b6a8d5-40d5-4935-98b5-69405a8f5495.jpg" alt="No image"></li>
            <li><img src="../../../assets/imagesforcss/8e094abb-cb77-4bd5-90ec-17c9111513bd.jpg" alt="No image"></li>
            <li><img src="../../../assets/imagesforcss/img-for-home.jpg" alt="No image"></li>
            <li><img src="../../../assets/imagesforcss/dcff0985-a734-416f-911b-df04fc003d9a.jpg" alt="No image"></li>
        </ul>
    </article>
</section>
