@font-face{
    font-family: 'jarasfont';
    src: url(src/assets/fonts/Sacramento-Regular.ttf);
 }
:root{
    --azuljaras:rgb(10,57,75);
    --verdejaras:rgb(102,136,59);
    --rosajaras: rgb(254,192,177);
}
* {
    margin: 0px;      
    padding: 0px;     
    list-style: none; 
    text-decoration: none;
}

select{
    text-transform: uppercase;
}
select:focus{
    outline: none;
}

header{
    margin-top: 0px;
    height: 154px;
    display: flex;
    flex-direction: column;
}
#section-p{
    width: 100%;
}
.logo{
    font-family: 'jarasfont',Arial, Helvetica, sans-serif;
    font-size: 40px;
}
    .logo ul{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        padding-block: 10px;
    }
    .logo img{
        font-size: 200px;
        height: 90px;
        width: 110px;
        transition: 1000ms;
    }
    .logo img:hover{
        transform: scale(1.2,1.2);
        transition: 1000ms;
    }
    .logo-negro,.logo-rosa,.logo-blanco{
        display: none;
    }
.nav{
    display: block;
    font-size: 25px;
    height: 100%;
}
    .nav ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;   
        margin-block: 4px; 
    }
        .nav li{
            padding: 4px;
            padding-inline: 15px;
            border-radius: 25px;
        }
        .nav li:hover{
            background: rgba(255,255,255,0.4);
            transition: 1000ms;
        }

#login-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #login{
        font-size: 20px;
        padding: 5px;
    }
        #login ul{
            display: flex;
            align-items: center;
        }
            #login li{
                padding: 5px;
                margin-inline: 2px;
                border-radius: 20px;
                font-size: 15px;
            }
            #login li:hover{
                text-decoration: underline;
                text-decoration-color: white;
            }
             #login a{
                position: relative;
                z-index: 3;
             }
    .s-c-s{
        display: flex;
        align-items: center;
    }
        #search ul{
            display: flex;
            align-items: center;
        }
            #search input[type='search']{
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                padding: 2px;
            }
            .buscar{
                background: transparent;
                border: 1px solid;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 1px;
                font-size: 15px;
                padding-inline: 7px;
                cursor: pointer;
            }
            .log-lupa{
                display: none;
            }
        #carrito{
            padding-inline: 30px;
            font-size: 20px;
            position: relative;
            z-index: 3;
        }

        #social{
            padding-right: 10px;
        }
            #social ul{
                display: flex;
                align-items: center;
            }
                #social li{
                    padding-inline: 6px;
                }
                #social a,p{
                    position: relative;
                    z-index: 3;
                }
                #social a .fa-instagram:hover{
                    color:orangered;
                }
                #social a .fa-facebook:hover{
                    color:blue;
                }

.container{
    padding-block: 12px;
    background-size: 100%;
    /* background-position: -53px 0px; */
}

#select-theme{
    position: fixed;
    top: 250px;
    left: 0;
    z-index: 4;
}
    #select-theme button{
        width: 25px;
        height: 25px;
        cursor: pointer;
        border: 1px solid white;
    }
    #select-theme button:hover{
        color: white;
    }
    .theme-pink{
        background-color: var(--rosajaras);
    }
    .theme-blue{
        background-color: var(--azuljaras);
    }
    .theme-green{
        background-color: var(--verdejaras);
    }
    .theme-darkpink{
        background-color: black;
        color: var(--rosajaras);
        /* display: none; */
    }

.menu-res{
    display: none;
}

#menu-oculto{
    display: none;
}

/* Controles de slider */
.bx-pager,.bx-controls-auto{
    display: none;
}

    footer ul{
        width: 100%;
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        footer li{
            width: 43%;
            margin-inline: 47px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .map,.publicidad{
                overflow: hidden;
            }
                iframe{
                    height: 100%;
                    width: 100%;
                }
                .publicidad .bx-controls-direction{
                    display: none;
                }
                .publicidad img{
                    height: 500px;
                    display: flex;
                }

            .autor{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 30px;
                width: 100%;
                background-color: black;
                font-size: 10px;
            }
                .autor a{
                    color: white;
                    width: 23%;
                    padding: 5px;
                }

                .autor h3:hover{    
                    color: rgb(163, 5, 163);
                }

/* Decoracion navideña */
.decnavi{
    position: absolute;
    top: 0px;
}
    .decnavi ul{
        display: flex;
        justify-content: space-between;
    }
        .decnavi img{
            position:absolute;
            z-index: 2;
        }
            .imgnavidad-der{
                height: 600px;
                top: -10px;
                left: 1170px;
            }
            .imgnavidad-izq{
                height: 400px;
            }
